body {
    font-size: 20px;
}

h1 {
    text-align: center;
    color: brown;
    background-color: rgb(193, 252, 145);
    border: 10px solid #34e5eb;
    font-family: Helvetica;
    font-weight: bold
}

h2, h3 {
    font-family: Papyrus;
    font-size: 200%
}

div p {
    font-weight: bolder;
}

ul{
    text-decoration: overline underline;
}

div {
    background-color: teal;
    text-align: center;
}

img {
    height: 150px;
    margin-left: 15px;
    margin-right: 15px
}
.sleeping-caption {
    font-style: italic
}

#main-photo {
   height: 200px; 
}